CREATE TABLE salon_marketing_rules ( id UUID PRIMARY KEY DEFAULT uuid_generate_v4(), name TEXT NOT NULL, service_id UUID REFERENCES salon_services(id) ON DELETE CASCADE, days_offset INTEGER NOT NULL, trigger_timing TEXT NOT NULL, send_method TEXT NOT NULL, message_template TEXT, active BOOLEAN DEFAULT TRUE, created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() );
